tabWidth: 2
singleQuote: true
semi: true
importOrder: ['^@havenengineering/(.*)$', '^[./]']
importOrderSeparation: true
importOrderSortSpecifiers: true
importOrderParserPlugins: ['typescript', 'decorators-legacy']
